body{
	margin:0;
	padding:0;
	overflow: hidden;
	background-color: rgb(51, 51, 51);
	-ms-overflow-style: none;
    scrollbar-width: none; 
}
body::-webkit-scrollbar { 
    display: none;  
}


.closeIcon{	
	position:absolute;
	filter: invert(100%);
	z-index: 2;
	display: block;
	height: 4vw;
	width: 4vw;
	float:left;
	margin-top: -13.3vw;
	margin-left: 95%;
	margin-bottom: 0vw;
}


.navIcon{
	position:absolute;
	filter: invert(100%);
	z-index: 1;
	height: 4vw;
	width: 4vw;
	float:left;
	margin-top: -13.3vw;
	margin-left: 95%;
	margin-bottom: vw;
}
.nav{
	background-color: rgb(41, 41, 41);
	padding-top: 1.3vw;
	padding-right: 4vw;
	padding-bottom: 33.1vw;
	position:absolute;
	z-index: 1;
	display: block;
	text-align: left;
	margin-right: 2vw;
	margin-left: 86%;
	margin-top: -8.5vw;
	list-style-type: none;
}
.navMenu{
	position:relative;
	margin-left: 86%;
	z-index: 1;
}

.nav-item a{
	background-color: rgb(250, 250, 250);
	background-size: 100%;
	padding-left: 2vw;
	color:rgb(76, 82, 0);
	font-size: 2.5vw;
	font-family: 'Saira', sans-serif;
	padding: .1vw .4vw .2vw .3vw;
	text-decoration: none;
}
li{
	margin-top: .7vw;
	opacity: .5;
}
li:hover{
	opacity: .8;
}
#myVideo {
  position: fixed;
  z-index: -2;
  right: 0;
  bottom: 0;
  opacity: .7;
  min-width: 100%; 
  min-height: 100%;
}
.main{
	text-align: center;
	color: rgb(250,250,250);
	background-color: rgb(1,1,1,.6);
	text-shadow: 4px 4px rgb(1,1,1);
	position:relative;
	font-family: 'Saira', sans-serif;
	z-index: 0;
	margin-top: 15vw;
	padding-top: 1vw;
	padding-bottom: 1vw;
	font-size: 1vw;
	clear:both;
}

.linkToggle{
	float: left;
	max-width: 6vw;
	bottom: 2vw;
	margin-top: 14.75%;
	padding-bottom: 3vw;
	margin-left: 46.85%;
}
.socialIcon{
	display: block;
}

.link{
	max-width: 6vw;
	bottom: 2vw;
	margin-top: 22.8%;
	padding-top: .5vw;
	background-color: rgb(41, 41, 41);
	padding-bottom: 2vw;
}
.socialLink{
	margin-left: 40.5%;
	display: none;
}
.closeLinks{
	max-width: 2vw;
	margin-bottom: 6.5vw;
	background-color: rgb(230, 230, 230);
	filter: invert(100%);
}


