body{
	margin:0;
	padding:0;
	overflow: hidden;
	background-color: rgb(51, 51, 51);
	-ms-overflow-style: none;
    scrollbar-width: none; 
}
body::-webkit-scrollbar { 
    display: none;  
}


.closeIcon{	
	position:absolute;
	z-index: 2;
	display: block;
	height: 4vw;
	width: 4vw;
	float:left;
	margin-top: -1vw;
	margin-left: 95%;
	margin-bottom: 0vw;
}


.navIcon{
	position:absolute;
	z-index: 1;
	height: 4vw;
	width: 4vw;
	float:left;
	margin-top: -1vw;
	margin-left: 95%;
	margin-bottom: 1.5vw;
}
.nav{
	background-color: rgb(41, 41, 41);
	padding-top: 1.3vw;
	padding-right: 4vw;
	padding-bottom: 33.1vw;
	position:absolute;
	z-index: 1;
	display: block;
	text-align: left;
	margin-right: 2vw;
	margin-top: 4vw;
	list-style-type: none;
}
.navMenu{
	position:relative;
	margin-left: 86%;
	z-index: 1;
}

.nav-item a{
	background-color: rgb(250, 250, 250);
	background-size: 100%;
	padding-left: 2vw;
	color:rgb(76, 82, 0);
	font-size: 2.5vw;
	font-family: 'Saira', sans-serif;
	padding: .1vw .4vw .2vw .3vw;
	text-decoration: none;
}


li{
	margin-top: .7vw;
	opacity: .5;
}
li:hover{
	opacity: .8;
}
main{
	position:relative;
	z-index: 0;
	clear: both;
}
h2{
	position:relative;
	z-index: 0;
	color:rgb(255, 222, 212);;
	padding-top: 3vw;
	text-align: center;
	font-size: 3vw;
	font-family: 'Saira', sans-serif;
	clear:both;
}

.map1{
	display: block;
	float:left;
	position:relative;
	z-index: 0;
	margin-left: 3vw;
	width:48%;
	height:650px;
	background-color: grey;
}
.map2{
	display: none;
}

form{
	position:relative;
	z-index: 0;
}

input,label,textarea,button{
	display: block;
	position:relative;
	z-index: 0;
	margin-left: 55%;
	position: relative;
	border-radius: 15px 15px 15px 15px;
}
input,label,textarea{
	width: 40%;
	color: black;
	font-size:1vw;
	font-family: 'Saira', sans-serif;
	padding:.5vw .5vw .5vw .5vw;
}
button{
	margin-top: .8vw;
	width:8%;
	min-height: 2.5vw;
	font-size: 1vw;
	font-family: 'Saira', sans-serif;
	border-radius: 10px 10px 10px 10px;
	border: none;
	color:rgb(255, 222, 212);
	background-color: rgb(105, 82, 112);
}
textarea{
	min-height: 5vw;
}
label{
	font-size: 1.3vw;
	font-family: 'Saira', sans-serif;
	color:rgb(255, 222, 212);
	padding: .5vw .5vw .5vw .5vw;
	border-radius: 15px 15px 15px 15px;
}
textarea::-webkit-scrollbar {
    width: 1em;
}
textarea,input,label:focus{
	opacity: 1;
	background-color: rgb(255, 222, 212);
}
 
textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(255, 175, 150);
    border-radius: 15px 15px 15px 15px;
}

textarea::-webkit-scrollbar-thumb{
	background-color: rgb(255, 175, 150,0.5);
    outline: 1px solid rgb(255, 175, 150);
    border-radius: 10px 10px 10px 10px;
}
.status {
	position:relative;
	z-index: -1;
	display: block;
	padding-left: .3vw;
	padding-right: .3vw;
	background-color: white;
	color: red;
	font-size:.9vw;
	font-family: 'Saira', sans-serif;
	margin-top: -2.5vw;
	float:left;
	margin-left:64%;
}
hr{
	display: none;
}



/*Mobile design*/

@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(51, 51, 51);
    overflow-y: scroll;
	overflow-x:hidden;
  	}
  	#myVideo{
  		display: none;
  	}
  	.closeIcon{	
		position:absolute;
		filter: invert(100%);
		margin-top: -4vw;
		z-index: 2;
		display: block;
		height: 15vw;
		width: 15vw;
		margin-left: 83.5%;  
	}


	.navIcon{
		position:absolute;
		filter: invert(100%);
		margin-top: -4vw;
		z-index: 1;
		height: 15vw;
		width: 15vw;
		margin-left: 83.5%; 

	}
	.nav{
		background-color: rgb(41, 41, 41);
		margin-left: -100vw;
		margin-right: 30vw;
		margin-top: -15vw;
		height: 100%;
		width: 100%;
		text-align: left;
		padding-left: 30vw;
		padding-top: 30vw;
		padding-right: 70vw;
		padding-bottom: 600vw;
	}
	.nav-item{
		margin-bottom: 2vw;
		margin-top: 1vw;
	}
	.nav-item a{
		font-size: 16vw;
		opacity: 1;
		margin-bottom:1vw;
		padding-right: 1vw;
	}
	h2{
		margin-top: 6vw;
		margin-bottom: 1vw;
		text-align: center;
		font-size: 10vw;
	}
	label{
		font-size: 5vw;
		padding-bottom:0vw;
		margin-top: -1vw;
		margin-bottom: -3vw;
	}
	input,label{
		margin-left: auto;
		margin-right: auto;
		border-radius: 10px;
		height: 10vw;
		width: 80vw;
	}
	textarea{
		font-size: 4vw;
		margin-left: auto;
		margin-right: auto;
		border-radius: 10px;
		height: 30vw;
		width: 80vw;
	}
	input{
		border-radius: 10px;
		font-size: 5vw;
	}
	.attachment{
		width:60%;
		margin-left: 10%;
		padding-left:2vw;
		font-size: 4vw;
		padding-top: -.3vw;
		height: 7vw;
		padding-bottom: -3vw;
		overflow: hidden;
	}
	button{
		margin-top: 2vw;
		margin-left: 10%;
		font-size: 4vw;
		height: 10vw;	
		width: 30vw;
		margin-bottom: 3vw;
	}
	.status{
		font-size: 4vw;
		max-height: 8vw;
		margin-left: 45%;
		overflow: hidden;
		margin-top: -12vw;
		background-color: transparent;
	}
	hr{
		display: block;
		width: 90%;
		color:rgb(255, 222, 212);
	}

	.map1{
		display: none; 
	}
	.map2{
		display: block;
		float:left;
		position:relative;
		z-index: 0;
		margin-top: 2vw;
		margin-bottom: 5vw;
		margin-left: 5.05%;
		width:90%;
		height:100vw;
		background-color: grey;
	}

}